<app-navbar></app-navbar>

<div class="container p-5">
<!--  <p-card header="Generate Video " [style]="{width: '380px'}">-->
<!--    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt-->
<!--      quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>-->
<!--    <div class="pt-2">-->
<!--      <button pButton type="button" routerLink="/video" label="Try Video Generation" class="ui-button-raised ui-button-success"></button>-->
<!--    </div>-->
<!--  </p-card>-->
  <div class="col-md-3 shadow m-3">
    <img src="./assets/vide.jpg"  style="width: 100%;height: 100% ;cursor: pointer" routerLink="/video">
    <h2 class="text-center m-2" routerLink="/video" style="cursor: pointer">Generate Video from Text <br>within a click</h2>
  </div>
  <br>
</div>



