<app-navbar></app-navbar>

<div class="container pt-4">
  <p-card header="Generate Video " [style]="{width: '380px'}">
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
      quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
    <div class="pt-2">
      <button pButton type="button" routerLink="/video" label="Try Video Generation" class="ui-button-raised ui-button-success"></button>
    </div>
  </p-card>
  <br>
</div>
