<body>
  <app-navbar></app-navbar>
  <h1
    style="
      font-weight: bold;
      letter-spacing: 1.1px;
      font-size: 33px;
      color: white;
    "
    class="mt-5 text-center"
  >
    Hey , Welcome back !
  </h1>
  <h2
    style="
      font-weight: inherit;
      letter-spacing: 1.1px;
      font-size: 20px;
      color: white;
    "
    class="text-center"
  >
    so anything specific in mind today ?
  </h2>
  <div class="row p-5" style="color: white;">
    <div class="box" routerLink="/video" style="cursor: pointer;">
      <div class="icon">
        01
      </div>
      <div class="content">
        One Click Video Generation
      </div>
    </div>
    <div class="box" routerLink="/summarize" style="cursor: pointer;">
      <div class="icon">
        02
      </div>
      <div class="content">
        Summarizer
      </div>
    </div>
    <div class="box" routerLink="/translate" style="cursor: pointer;">
      <div class="icon">
        03
      </div>
      <div class="content">
        Translator
      </div>
    </div>
    <div class="box" style="cursor: pointer;">
      <div class="icon">
        04
      </div>
      <div class="content">
        Question Generator
      </div>
    </div>
  </div>
</body>
