<div
  style="
    background-image: url('./assets/laptop.jpg');
    height: 100%;
    color: white;
  "
>
  <div class="container centered" style="text-align: center;">
    <h1 style="font-weight: bold; letter-spacing: 1px;">Eureka 1.0</h1>
    <br />
    <img
      src="https://img.icons8.com/bubbles/100/000000/cloud-account-login-male.png"
    />
    <form>
      <span class="ui-float-label">
        <input
          id="float-input"
          #oldPassword
          type="password"
          class="form-control"
          placeholder="Old Password"
          size="30"
          pInputText
        />
        <label for="float-input"></label>
      </span>
      <br />
      <input
        pPassword
        #password
        placeholder="Password"
        type="password"
        class="form-control"
      /><br />
      <button
        pButton
        type="button"
        class="ui-button-raised ui-button-rounded form-control"
        style="font-weight: bold;"
      >
        Reset
      </button>
    </form>
    <br />
    <a [routerLink]="['/login']" routerLinkActive="router-link-active"
      >Back to Login</a
    >
    <br /><br /><br /><br /><br /><br />
    <span class="border-bottom" style="font-weight: bold; letter-spacing: 1px;"
      >Don't have an account?<a
        [routerLink]="['/register']"
        routerLinkActive="router-link-active"
        style="color: red;"
      >
        Sign Up</a
      ></span
    >
  </div>
</div>
