<p-toast [style]="{marginTop: '80px'}"></p-toast>
<app-navbar></app-navbar>

<br>
<div class="container">
  <div style="padding-left: 16px">
    <button *ngIf="!isupload" (click)="filePicker.click()" color="primary" mat-raised-button type="button">Upload Image</button>
    <button *ngIf="isupload" (click)="filePicker.click()" color="primary" mat-raised-button type="button">
      <i class="fa fa-circle-o-notch fa-spin"></i>
    </button>
    <input (change)="onUpload($event)" accept="image/*" capture="environment" type="file" #filePicker id="logo"/>
  </div>
  <h2 class="text-center">OR</h2>
<div class="p-3">
  <form>
    <textarea #summaryText style="height: 300px;" class="form-control" placeholder="Enter text here.." >{{imageText}}</textarea><br><br>
    <button *ngIf="!loading" (click)="submit(summaryText.value)" pButton type="button" class="ui-button-raised ui-button-rounded ui-button-success form-control" style="font-weight: bold;">
      Generate Summary
    </button>
    <button *ngIf="loading" pButton type="button" class="ui-button-raised ui-button-rounded ui-button-success form-control" style="font-weight: bold;">
      <i class="fa fa-circle-o-notch fa-spin"></i>
      <!--        <p-progressSpinner></p-progressSpinner>-->
    </button>
  </form>
</div>
</div>
<div class="container text-center p-4" *ngIf="summary">
  <span>Summary</span>
  <br>
  <br>
  <p class="justify-text p-4">
    {{summary}}
  </p>
  <div class="clearfix p-3">
    <button class="float-right" mat-raised-button color="accent" ><a [href]="fileUrl" download="summary.txt">Download PDF</a></button>
  </div>
</div>


<!--<button (click)="downloadPDF()">-->
<!--  pdf-->
<!--</button>-->
