<p-toast [style]="{ marginTop: '80px' }"></p-toast>
<app-navbar></app-navbar>
<br />
<div class="container">
  <div style="padding-left: 16px;">
    <button
      *ngIf="!isupload"
      (click)="filePicker.click()"
      color="primary"
      mat-raised-button
      type="button"
    >
      Upload Image
    </button>
    <button
      *ngIf="isupload"
      (click)="filePicker.click()"
      color="primary"
      mat-raised-button
      type="button"
    >
      <i class="fa fa-circle-o-notch fa-spin"></i>
    </button>
    <input
      (change)="onUpload($event)"
      accept="image/*"
      capture="environment"
      type="file"
      #filePicker
      id="logo"
    />
  </div>
  <br />
  <p-dropdown
    [options]="languages"
    [(ngModel)]="toLang"
    placeholder="Select a Language"
    optionLabel="name"
    [showClear]="true"
  >
  </p-dropdown>
  <h2 class="text-center">OR</h2>
  <div class="p-3">
    <form>
      <textarea
        #videoText
        style="height: 300px;"
        class="form-control"
        placeholder="Enter text here .."
        >{{ imageText }}</textarea
      ><br /><br />
      <button
        *ngIf="!loading"
        (click)="submit(videoText.value)"
        pButton
        type="button"
        class="ui-button-raised ui-button-rounded ui-button-success form-control"
        style="font-weight: bold;"
      >
        Generate Video
      </button>
      <button
        *ngIf="loading"
        pButton
        type="button"
        class="ui-button-raised ui-button-rounded ui-button-success form-control"
        style="font-weight: bold;"
      >
        <i class="fa fa-circle-o-notch fa-spin"></i>
        <!--        <p-progressSpinner></p-progressSpinner>-->
      </button>
    </form>
  </div>

  <div *ngIf="videoLink">
    <a [href]="videoLink">Download File</a>
    <video width="320" height="240" controls>
      <source [src]="videoLink" type="video/mp4" />
    </video>
  </div>
</div>
