<app-navbar></app-navbar>
<div class="container p-3 pt-4">
  <div class="shadow p-3 pt-4" style="border-radius: 3%;">
    <h2 class="text-center">Study Mode</h2>

    <span class="justify-content-around">
      In Study mode, we provide various kinds of solutions to the student which
      can help the student to learn in a better way and with interest. We
      provide the tool like which provides the services like converting the text
      into any other language, to summarize the given text /file, to generate
      questions on the given text, to analyze his learnings.
    </span>
    <hr />
    <button
      class="btn btn-warning"
      style="margin-left: 50%; transform: translate(-50%);"
      routerLink="/study"
    >
      Get Started
    </button>
  </div>
  <br />
  <div class="shadow p-3 pt-5" style="border-radius: 3%;">
    <h2 class="text-center">Learning Mode</h2>
    <span class="justify-content-around">
      In Learn Mode, we give the student the best way to learn with enjoying in
      less amount of time. We all know that graphical representation of any
      media stays more in memory than that of textual reading or listening. We
      are generating the video from the given text/file and that video the
      student can see and learn without getting boar.
    </span>
    <hr />
    <button
      class="btn btn-warning"
      style="margin-left: 50%; transform: translate(-50%);"
      routerLink="/learn"
    >
      Get Started
    </button>
  </div>
  <br />
</div>
