<app-navbar></app-navbar>
<div class="container p-3 pt-4">
  <div class="shadow p-3 pt-4" style="border-radius: 3%;">
    <h2 class="text-center">Study Mode</h2>
    <span
      class="justify-content-around">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </span>
    <hr>
    <button class="btn btn-warning" style="margin-left: 50%;transform: translate(-50%);"
    routerLink="/study"
    >Get Started</button>
  </div>
  <br>
  <div class="shadow p-3 pt-5" style="border-radius: 3%;">
    <h2 class="text-center">Learning Mode</h2>
    <span
      class="justify-content-around">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </span>
    <hr>
    <button class="btn btn-warning" style="margin-left: 50%;transform: translate(-50%);"
    routerLink="/learn"
    >Get Started</button>
  </div>
  <br>
</div>

