<app-navbar></app-navbar>
<div class="container p-5">
  <div class="col-md-12 row p-3 icons">
    <div class="col-md-3 shadow m-3">
      <img
        src="./assets/summar.jpg"
        style="width: 100%; height: 100%; cursor: pointer;"
        routerLink="/summarize"
      />
      <h2
        class="text-center m-2"
        routerLink="/summarize"
        style="cursor: pointer;"
      >
        Summarization
      </h2>
    </div>
    <br />
    <br />
    <div class="col-md-3 shadow m-3">
      <img
        src="./assets/summ.jpg"
        style="width: 100%; height: 100%; cursor: pointer;"
        routerLink="/questions"
      />
      <h2
        class="text-center m-2"
        routerLink="/questions"
        style="cursor: pointer;"
      >
        Questions
      </h2>
    </div>
    <br />
    <div class="col-md-3 shadow m-3">
      <img
        src="./assets/lang.jpg"
        style="width: 100%; height: 100%; cursor: pointer;"
        routerLink="/translate"
      />
      <h2
        class="text-center m-2"
        routerLink="/translate"
        style="cursor: pointer;"
      >
        Translation
      </h2>
    </div>
    <br />
  </div>
</div>
