<app-navbar></app-navbar>

<div class="container pt-4">
  <p-card header="Translate " [style]="{width: '380px'}">
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
      quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
    <div class="pt-2">
    <button pButton type="button" routerLink="/translate" label="Try Translation" class="ui-button-raised ui-button-success"></button>
    </div>
  </p-card>
   <br>
  <p-card header="Summarize " [style]="{width: '380px'}">
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
      quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
    <div class="pt-2">
      <button pButton type="button" routerLink="/summarize" label="Try Summarize" class="ui-button-raised ui-button-success"></button>
    </div>
  </p-card>
<br>
  <p-card header="Generate Questions" [style]="{width: '380px'}">
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
      quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
    <div class="pt-2">
      <button pButton type="button" routerLink="/questions" label="Try Questions" class="ui-button-raised ui-button-success"></button>
    </div>
  </p-card>
<br>

</div>


