<div style="height: 100%; color: black;">
  <div class="container centered" style="text-align: center;">
    <h1
      style="
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 40px;
        font-family: 'Comic Sans MS';
      "
      class="pt-5"
    >
      Eureka 1.0
    </h1>
    <br />
    <img
      class="image"
      style="height: 500px; width: 100%;"
      src="./assets/faq-img-1.07207d3a.png"
      style="width: 500px;"
    />
    <br /><br /><br />
    <form>
      <button
        pButton
        type="button"
        class="ui-button-raised ui-button-rounded form-control"
        style="font-weight: bold; width: 500px; margin: auto;"
        [routerLink]="['/login']"
        routerLinkActive="router-link-active"
      >
        Login
      </button>
      <br />
      <button
        pButton
        type="button"
        class="ui-button-raised ui-button-rounded form-control"
        style="font-weight: bold; width: 500px; margin: auto;"
        [routerLink]="['/register']"
        routerLinkActive="router-link-active"
      >
        Sign Up
      </button>
      <br /><br />
    </form>
    <br />
  </div>
</div>
