<div style="height: 100%; color: black;">
  <div class="container centered" style="text-align: center;">
    <h1
      style="
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 40px;
        font-family: 'Comic Sans MS';
      "
    >
      Eureka 1.0
    </h1>
    <br />
    <img
      class="image"
      style="height: 500px; width: 60%;"
      src="./assets/faq-img-1.07207d3a.png"
    />
    <br /><br /><br />
    <form>
      <button
        pButton
        type="button"
        class="ui-button-raised ui-button-rounded form-control ui-button-info"
        style="
          font-weight: bold;
          width: 600px;
          margin: auto;
          background-color: #a00836;
        "
        [routerLink]="['/loginLatest']"
        routerLinkActive="router-link-active"
      >
        LOGIN
      </button>
      <br />
      <button
        pButton
        type="button"
        class="ui-button-raised ui-button-rounded form-control ui-button-info"
        style="
          font-weight: bold;
          width: 600px;
          margin: auto;
          background-color: #a00836;
        "
        [routerLink]="['/registerLatest']"
        routerLinkActive="router-link-active"
      >
        SIGN UP
      </button>
      <br /><br />
    </form>
    <br />
  </div>
</div>
