<app-navbar></app-navbar>
<h1
  style="
    font-weight: bold;
    letter-spacing: 1.1px;
    font-size: 33px;
    color: white;
  "
  class="mt-5 text-center"
>
  Hey , Welcome back !
</h1>
<h2
  style="
    font-weight: inherit;
    letter-spacing: 1.1px;
    font-size: 20px;
    color: white;
  "
  class="text-center"
>
  You can View your all <b style="color: yellow;">Work Videos </b> and reuse it
  !!!
</h2>
<br />
<div class="container">
  <p-card *ngFor="let video of videos" class="p-3">
    <p-header class="align-content-center">
      <b style="text-align: center;"></b>
    </p-header>
    <video width="100%" height="240" controls>
      <source src="{{ video.link }}" type="video/mp4" />
    </video>
    <p-footer class="m-5">
      <p class="{{ video.read }}">{{ video.content }}</p>
      <span
        class="float-right"
        (click)="changeCSS(video._id, $event)"
        style="cursor: pointer;"
        >{{ video.text }}</span
      >
    </p-footer>
  </p-card>
</div>
